@{
    ViewData["Title"] = "Home Page";
    var users = ViewData["UsersRealName"] as List<string>;
    int numberOfUser = 1;
}

<div>
    <b>Auth user name: </b> @ViewData["authUserName"]
    <br />
    <br />
    <b>Users Count:</b> @ViewData["UsersCount"]
    <br />
    <br />
    <b>Users RealName:</b> <br />
    @foreach(var user in users)
    {
        @(numberOfUser++ + ". " + user) <br />
    }
</div>