@{
    var err = ViewData["err"] as string[];
}

<div class="container">
	<div class="blueBg">
		<div class="box signin">
			<h2>Already Have an Account ?</h2>
			<button class="signinBtn">Sign in</button>
		</div>
		<div class="box signup">
			<h2>Don't Have an Account ?</h2>
			<button class="signupBtn">Sign up</button>
		</div>
	</div>
	<div class="formBx">
		<div class="form signinForm">
			<form>
				<h3>Sign In</h3>
				<input type="email" placeholder="Email">
				<input type="password" placeholder="Password">
				<div>
					<input type="reset" value="Clear">
					<input type="submit" value="Login">
				</div>
				<a href="#" class="forgot">Forgot Password</a>
				<a href="menu.html" class="later">Maybe later (return to registration whenewer you want)</a>
			</form>
		</div>
		<div class="form signupForm">
			<form>
				<h3>Sign Up</h3>
				<input type="email" placeholder="Email">
				<input type="password" placeholder="Password">
				<input type="password" placeholder="Confirm password">
				<input type="date" title="Date of birth">
				<div title="Choose your gender">
					<input type="radio" value="male"> Male
					<input type="radio" value="female"> Female
					<input type="radio" value="other"> Other
				</div>
				<select>
					<option value="none" hidden="">Choose region</option>
					<option value="1">Europe</option>
					<option value="2">America</option>
					<option value="3">Africa</option>
					<option value="4">Ausralia</option>
					<option value="5">Asia</option>
				</select>
				<div class="buttons">
					<input type="reset" value="Clear">
					<input type="submit" value="Register">
				</div>
			</form>
		</div>
	</div>
</div>
	<script>
		const signinBtn = document.querySelector('.signinBtn');
		const signupBtn = document.querySelector('.signupBtn');
		const formBx = document.querySelector('.formBx');
		const body = document.querySelector('body');

		signupBtn.onclick = function () {
			formBx.classList.add('active');
			body.classList.add('active');
		}

		signinBtn.onclick = function () {
			formBx.classList.remove('active');
			body.classList.remove('active');
		}
	</script>